<div class="d-flex justify-content-center"*ngIf="token && email">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="ResetForm" class="form-signin" (ngSubmit)="resetForm()" autocomplete="off">
                <div class="textcenter mb-4">
                    <h1 class="mb-3 font-weight-normal">
                        Change your password
                    </h1>
                </div>

              
                <div class="form-floating mb-3">
                    <input formControlName="newPassword" type="text" class="form-control" placeholder="New password"
                    [class.is-invalid]="submitted && ResetForm.get('newPassword')?.hasError('required')">
                    <label for="newPassword">New password</label>
                    <span class="text-danger" *ngIf="submitted && ResetForm.get('newPassword')?.hasError('required')">
                        password is required
                    </span> 
                    <span class="text-danger" *ngIf="submitted && ResetForm.get('newPassword')?.hasError('miLength') ||
                    ResetForm.get('newPassword')?.hasError('maxLength')">
                        password must with minimum 6 characters and maximum with 15 characters
                    </span>
                </div>
                <div class="form-floatin" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">
                                Send 
                            </button>
                        </div>
                    </div>
                     <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" routerLink="/account/login">
                                Cancel
                            </button>
                        </div>
                     </div>
                </div>
           </form>
        </main>
    </div>
</div>